@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #171717;

  /* Font Variables */
  --font-geist-sans: "Geist Sans", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #161722;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), sans-serif;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.purpleShadow {
  box-shadow: 3px 3px 1px 1px lavender;
}

.purpleShadow:hover {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px 1px 1px lavender;
}
